/*
 *= require_self
 */
/* line 36, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/_mixins.css.scss */
.spinner {
  width: 16px;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
}

@media screen and (orientation: portrait) {
  /* line 18, /output/mobile.css.scss.erb */
  body {
    min-height: 420px;
  }
}
@media screen and (orientation: landscape) {
  /* line 21, /output/mobile.css.scss.erb */
  body {
    min-height: 300px;
  }
}
/* line 24, /output/mobile.css.scss.erb */
html {
  margin: 0;
  padding: 0;
}

/* line 29, /output/mobile.css.scss.erb */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 120%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  height: 100%;
}

/* line 40, /output/mobile.css.scss.erb */
header {
  color: #CCC;
  height: 40px;
  width: 100%;
  top: 0px;
  z-index: 11;
  font-size: 1em;
  line-height: 3em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#111111));
  background-image: -webkit-linear-gradient(#444444, #111111);
  background-image: -moz-linear-gradient(#444444, #111111);
  background-image: -ms-linear-gradient(#444444, #111111);
  background-image: -o-linear-gradient(#444444, #111111);
  background-image: linear-gradient(#444444, #111111);
  overflow: hidden;
  *zoom: 1;
  display: block;
}
/* line 52, /output/mobile.css.scss.erb */
header h1 {
  width: 73px;
  height: 30px;
  margin: 4px auto;
  text-indent: -9999px;
  background: url(/c3934215/images/logo.png) no-repeat;
}

/* line 61, /output/mobile.css.scss.erb */
.page {
  min-height: 410px;
  overflow: visible;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 1px solid #B3B3B3;
  color: #333;
  text-shadow: 0 1px 0 white;
  background: #F0F0F0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  background-image: -ms-linear-gradient(#eeeeee, #dddddd);
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  background-image: linear-gradient(#eeeeee, #dddddd);
}
/* line 82, /output/mobile.css.scss.erb */
.page.active {
  display: block;
}
/* line 88, /output/mobile.css.scss.erb */
.page.inactive {
  display: none;
}

@-webkit-keyframes slideinfromright {
  /* line 96, /output/mobile.css.scss.erb */
  from {
    -webkit-transform: translateX(100%);
  }

  /* line 99, /output/mobile.css.scss.erb */
  to {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideouttoleft {
  /* line 105, /output/mobile.css.scss.erb */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 108, /output/mobile.css.scss.erb */
  to {
    -webkit-transform: translateX(100%);
  }
}

/* line 113, /output/mobile.css.scss.erb */
ul.menu {
  display: block;
  list-style: none;
  padding: 0;
  margin-top: 0;
}
/* line 119, /output/mobile.css.scss.erb */
ul.menu li {
  display: block;
  width: 100%;
  list-style: none;
  height: 42px;
  background: #EEE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
  background-image: -webkit-linear-gradient(#fdfdfd, #eeeeee);
  background-image: -moz-linear-gradient(#fdfdfd, #eeeeee);
  background-image: -ms-linear-gradient(#fdfdfd, #eeeeee);
  background-image: -o-linear-gradient(#fdfdfd, #eeeeee);
  background-image: linear-gradient(#fdfdfd, #eeeeee);
  border: 1px solid #CCC;
  font-weight: bold;
  color: #444;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: visible;
  text-align: left;
  border-width: 0;
  border-top-width: 1px;
}
/* line 137, /output/mobile.css.scss.erb */
ul.menu li a {
  text-decoration: none !important;
  color: #2F3E46;
  padding: .7em 15px;
  padding-right: 30px;
  display: block;
}

/* line 147, /output/mobile.css.scss.erb */
ul.info {
  display: block;
  list-style: none;
  padding: 0;
  margin-top: 0;
}
/* line 153, /output/mobile.css.scss.erb */
ul.info li {
  display: block;
  width: 100%;
  list-style: none;
  height: 42px;
  background: #EEE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
  background-image: -webkit-linear-gradient(#fdfdfd, #eeeeee);
  background-image: -moz-linear-gradient(#fdfdfd, #eeeeee);
  background-image: -ms-linear-gradient(#fdfdfd, #eeeeee);
  background-image: -o-linear-gradient(#fdfdfd, #eeeeee);
  background-image: linear-gradient(#fdfdfd, #eeeeee);
  border: 1px solid #CCC;
  font-weight: bold;
  color: #444;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: visible;
  text-align: left;
  border-width: 0;
  border-top-width: 1px;
  clear: both;
}
/* line 172, /output/mobile.css.scss.erb */
ul.info li label {
  color: #2F3E46;
  padding: .7em 15px;
  padding-right: 30px;
  display: block;
  float: left;
}
/* line 180, /output/mobile.css.scss.erb */
ul.info li span {
  color: #2F3E46;
  float: right;
  padding: .7em 15px;
  padding-left: 30px;
  display: block;
}
/* line 188, /output/mobile.css.scss.erb */
ul.info li a {
  color: #2F3E46;
}

/* line 194, /output/mobile.css.scss.erb */
#repository {
  width: 100%;
}
/* line 197, /output/mobile.css.scss.erb */
#repository h2 {
  text-align: center;
}
/* line 199, /output/mobile.css.scss.erb */
#repository h2 a {
  color: #666;
  text-decoration: underline;
}
/* line 205, /output/mobile.css.scss.erb */
#repository .description {
  text-align: center;
}

/* line 211, /output/mobile.css.scss.erb */
.matrix li .status,
#builds li .status {
  padding-left: 20px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline;
}

/* line 220, /output/mobile.css.scss.erb */
#build h2 .status,
#repository h2 .status {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 229, /output/mobile.css.scss.erb */
#build.green h2 .status,
.matrix li.green .status,
#repository h2 .status.green,
#builds li.green .status {
  background-image: url(/c3934215/images/icons/status.green.png);
}

/* line 236, /output/mobile.css.scss.erb */
#build.red h2 .status,
.matrix li.red .status,
#repository h2 .status.red,
#builds li.red .status {
  background-image: url(/c3934215/images/icons/status.red.png);
}

/* line 243, /output/mobile.css.scss.erb */
#build.yellow h2 .status,
.matrix li.yellow .status,
#repository h2 .status.yellow,
#builds li.yellow .status {
  background-image: url(/c3934215/images/icons/status.yellow.png);
}

/* line 247, /output/mobile.css.scss.erb */
#build {
  width: 100%;
}
/* line 250, /output/mobile.css.scss.erb */
#build h2, #build h3 {
  text-align: center;
}
/* line 254, /output/mobile.css.scss.erb */
#build .commit-message {
  white-space: normal;
  min-width: 0;
  margin: 0 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
}
/* line 263, /output/mobile.css.scss.erb */
#build .matrix li a {
  text-align: center;
  text-decoration: underline !important;
}
/* line 273, /output/mobile.css.scss.erb */
#build .matrix li.green a {
  color: green;
}
/* line 277, /output/mobile.css.scss.erb */
#build .matrix li.red a {
  color: #C00;
}

/* line 283, /output/mobile.css.scss.erb */
.emoji {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* line 290, /output/mobile.css.scss.erb */
#job h2, #job h3 {
  text-align: center;
}
/* line 294, /output/mobile.css.scss.erb */
#job .commit-message, #job .config {
  white-space: normal;
  min-width: 0;
  margin: 0 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

/* line 303, /output/mobile.css.scss.erb */
.log {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: none;
  clear: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 140%;
  font-size: 90%;
  margin-top: 25px;
  padding: 15px 0;
  color: white;
  background-color: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  /* deansi styles, see javascripts/lib/deansi.js */
}
/* line 319, /output/mobile.css.scss.erb */
.log p {
  position: relative;
  padding: 0 15px 0 50px;
  margin: 0;
  min-height: 16px;
}
/* line 324, /output/mobile.css.scss.erb */
.log p:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
/* line 327, /output/mobile.css.scss.erb */
.log p.highlight {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 330, /output/mobile.css.scss.erb */
.log p a {
  position: absolute;
  margin-left: -40px;
  cursor: pointer;
  color: #666;
  text-decoration: underline;
}
/* line 339, /output/mobile.css.scss.erb */
.log .fold {
  height: 16px;
  overflow: hidden;
  background: #444444 url(/c3934215/images/icons/log.fold.closed.2.png) no-repeat 99.5% 2px;
  cursor: pointer;
}
/* line 345, /output/mobile.css.scss.erb */
.log .fold.open {
  height: auto;
  background-image: url(/c3934215/images/icons/log.fold.open.2.png);
}
/* line 353, /output/mobile.css.scss.erb */
.log .bold {
  font-weight: bold;
}
/* line 356, /output/mobile.css.scss.erb */
.log .italic {
  font-style: italic;
}
/* line 359, /output/mobile.css.scss.erb */
.log .underscore {
  /* monochrome displays only according to http://ascii-table.com/ansi-escape-sequences.php */
}
/* line 362, /output/mobile.css.scss.erb */
.log .black {
  color: black;
}
/* line 365, /output/mobile.css.scss.erb */
.log .red {
  color: red;
}
/* line 368, /output/mobile.css.scss.erb */
.log .green {
  color: lime;
}
/* line 371, /output/mobile.css.scss.erb */
.log .yellow {
  color: yellow;
}
/* line 374, /output/mobile.css.scss.erb */
.log .blue {
  color: blue;
}
/* line 377, /output/mobile.css.scss.erb */
.log .magenta {
  color: magenta;
}
/* line 380, /output/mobile.css.scss.erb */
.log .cyan {
  color: cyan;
}
/* line 383, /output/mobile.css.scss.erb */
.log .white {
  color: white;
}
/* line 386, /output/mobile.css.scss.erb */
.log .black.bright {
  color: #999;
}
/* line 389, /output/mobile.css.scss.erb */
.log .bg-black {
  background-color: black;
}
/* line 392, /output/mobile.css.scss.erb */
.log .bg-red {
  background-color: red;
}
/* line 395, /output/mobile.css.scss.erb */
.log .bg-green {
  background-color: lime;
}
/* line 398, /output/mobile.css.scss.erb */
.log .bg-yellow {
  background-color: yellow;
}
/* line 401, /output/mobile.css.scss.erb */
.log .bg-blue {
  background-color: blue;
}
/* line 404, /output/mobile.css.scss.erb */
.log .bg-magenta {
  background-color: magenta;
}
/* line 407, /output/mobile.css.scss.erb */
.log .bg-cyan {
  background-color: cyan;
}
/* line 410, /output/mobile.css.scss.erb */
.log .bg-white {
  background-color: white;
}
