/* line 36, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/_mixins.css.scss */
.spinner {
  width: 16px;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
}

/* line 4, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
#top {
  position: absolute;
  /* this should probably be in travis-ci */
  overflow: visible;
}
/* line 8, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
#top #navigation li:nth-child(2) {
  display: none;
}
/* line 12, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
#top .profile {
  margin-right: 10px;
}
/* line 14, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
#top .profile ul {
  right: 15px;
}

/* line 20, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
#main {
  padding-right: 30px;
}
/* line 24, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
#main #repository .github-stats,
#main #repository .tools {
  display: none;
}

/* line 40, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
#session #main {
  margin: 200px auto 0 auto;
  padding: 25px 50px;
  width: 300px;
  border: 10px solid #bbb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 49, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
#session h1 {
  margin-bottom: 1em;
  color: #333;
}
/* line 54, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
#session p {
  color: #333;
}

/* line 59, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
.subscription-form {
  width: 400px;
  margin: 0 auto;
}
/* line 63, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
.subscription-form input, .subscription-form select {
  border: 1px solid grey;
  border-radius: 3px;
  width: 97%;
  margin-bottom: 7px;
  font-size: 13px;
  font-family: "Helvetica Neue";
  padding: 5px;
}
/* line 73, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
.subscription-form input[type=submit] {
  width: 200px;
  float: right;
}
/* line 78, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
.subscription-form select.date-select {
  width: 70px;
}
/* line 82, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
.subscription-form label {
  float: left;
  width: 100%;
  font-size: 13px;
}
/* line 88, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
.subscription-form label.required-field {
  font-weight: bold;
}
/* line 92, /Users/sven/Development/projects/travis/travis-assets/assets/stylesheets/pro.css.scss */
.subscription-form label.error {
  color: red;
}
